{% extends 'portfolio/base.html' %}
{% block progress %}
<div class="card__content">
    {% for i in posts %}
        <h2 class="card_hidden" onclick="card__hidden(this)">{{i.begin}}{{i.finish}}{{i.place}}{{i.specialization}}:</h2>
        <div style="text-align: left;">
            <ul>    
                <li><strong>Progress:</strong>
                    <ul>
                        <li>
    {% autoescape on %}
    {{i.progress|linebreaks|truncatewords:10}}
    {% endautoescape %}
                            <p>Категория: {{i.cat}}</p>
                            <p>Дата: {{i.finish|date:"d-m-Y"}}</p>
{% if i.scan %}
                            <p><img class="" src="{{i.scan.url}}"></p>
{% endif %}

                            <a href="{{ i.get_absolute_url }}">Читать пост</a>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}