{% load static %}
{% load progress_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'progress/css/style.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'progress/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<!--HEADER-->
	{% block mainmenu %}
	<header class="header fixed" id="header">
		<div class="container">
			<div class="header__nav">
				<p><a href="{% url 'home' %}">Главная</a></p>
				{% if request.user.is_authenticated %}
				<p>{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></p>
				{% else %}
				<p class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></p>
				{% endif %}
			</div>
		</div>
	</header>
	{% endblock mainmenu %}
    <!--SECTIONS-->
    <!--CARDS-->
    <section>
        <div class="container">
            <div class="cards">
				<div class="card__content" id="page__fixed">
					<h2 class="card_hidden" onclick="card__hidden(this)">Engineer</h2>
					<div style="text-align: left;">
						<ul>
							<li><strong>Давид:</strong> 30 лет, Иркутск;</li>
							<li><strong>Услуги:</strong> установка, обновление и контроль состояния программного обеспечения на объектах автоматизации; обеспечивать бесперебойную работу сервисов и улучшать их производительность; планировать, развивать и сопровождать инфраструктуру для сервисов; разрабатывать решения, которые упростят эксплуатацию и автоматизируют рутину; помогать разработчикам решать системные проблемы их сервисов, настраивать инфраструктуру и мониторинги; повышать надежность и безопасность системы; анализировать нештатные ситуации, разрешать и разрабатывать меры по их предотвращению; восстановление работоспособности ПК, периферийных устройств, оборудования видеоконференцсвязи, аудио-видеофиксации, локальной сети при сбоях или выходе из строя сетевого оборудования; техническая поддержка пользователей; работа с сайтами;</li>
							<li><strong>О себе:</strong> уверенно администрирую Linux-системы; хорошо знаком с Nginx, Lamp, контейнеризацией и виртулизацией; понимаю работу TCP/IP и умею диагностировать и решать проблемы сетей; программирую на Python; работаю с базами данных и умею писать SQL-запрос; свободно читаю и перевожу техническую документацию на английском языке; умею работать в команде и действовать самостоятельно; есть желание активно развиваться, изучать новые технологии и инструменты; не меньше двух лет работал на аналогичной позиции;</li>
							<li>
								{% if cat_selected == 0 %}
								<strong>Навыки:</strong>
								{% else %}
								<strong><a href="{% url 'home' %}"></a>Навыки:</a></strong>
								{% endif %}
								{% for i in cats %}
									{% if i.progress__count > 0 %}
										{% if i.pk == cat_selected %}
								{{i.name}}
										{% else %}
								<a href="{{ i.get_absolute_url }}">{{i.name}}</a>
										{% endif %}
									{% endif %}
								{% endfor %}
							<li><strong>Feedback:</strong> david138it@gmail.com; telegram - @david138it; http://www.linkedin.com/in/david-gabuniya-3bb954237; https://github.com/David138it;</li>
						</ul>	
					</div>
				</div>
				<!-- Хлебные крошки -->
				{% block breadcrumbs %}
				{% endblock %}
				<!-- Блок контента -->
				<div class="card__content" id="">
					<h2 class="card_hidden" onclick="card__hidden(this)">Опыт</h2>
					<div style="text-align: left;">
					{% block progr %}
					{% endblock %}
					</div>
					{% if page_obj.has_other_pages %}
					<nav class="list-pages">
								<ul>
									{% if page_obj.has_previous %}
									<li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
									{% endif %}
									{% for i in paginator.page_range %}
										{% if page_obj.number == i %}
										<li class="page-num page-num-selected">{{ i }}</li>
										{% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
										<li class="page-num"><a href="?page={{ i }}">{{ i }}</a></li>
										{% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
										<li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
									{% endif %}
								</ul>
					</nav>
					{% endif %}
				</div>		
			</div>
		</div>
	</section>
</body>
</html>