{% extends 'progress/base.html' %}
{% block progr %}
<ul>
	{% for i in posts %}
	<li>
		<strong>{{i.time_create|date:"d-m-Y H:i:s"}} - {{i.time_update|date:"d-m-Y H:i:s"}}:</strong> {{i.place}}; {{i.title}};
	</li>
	<li>
		<strong>Достижения:</strong> 
		{% autoescape on %}
		{{i.progr|linebreaks|truncatewords:50}}
		{% endautoescape %};
	</li>
	<li>
		<strong>Дополнительная информация:</strong> 
		Категория:
		{{i.cat}};
		{% autoescape on %}
		{{i.responsibilities|linebreaks|truncatewords:50}}
		{% endautoescape %};
		{% if i.photo %}
		<p><img class="" src="{{i.photo.url}}"></p>
		{% endif %}
		<p><a href="{{ i.get_absolute_url }}">Читать пост</a></p>
	</li>
	{% endfor %}
</ul>
{% endblock %}